/* This is a set of style rules to
 * format tipIt's tooltips. The aim
 * is to allow maximum configurability
 * via plan ol' css. Hack away!
 */
.tipContainer {
  display: none;
  position: fixed;
  top: 0px;
  z-index:9997;
}
.tipContainer.tipR,
.tipContainer.tipL {
  display:block;
}
.tipContent {
  display:block;
  padding: 5px;
  background: #000;
  background:rgba(0,0,0,0.7);
  color: #fff;
  font: bold 12px/10px arial;
  text-align: center;
  text-indent: 0;
  text-transform: none;
  text-shadow:none;
  vertical-align: 1px;
}
.tipR .tipContent {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.tipL .tipContent {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.arrowR,
.arrowL {
  display:none;
  position:absolute;
  content: ".";
  text-indent:-9999px;
  border-style: solid;
  border-width: 10px;
  width: 0;
  height: 0;
  pointer-events:none;
  top:0;
}
.tipR .arrowR {
  display:block;
  left:-20px;
  border-color: transparent #000 transparent transparent;
  border-color: transparent rgba(0,0,0,0.7) transparent transparent;
}
.tipL .arrowL {
  display:block;
  right: -20px;
  border-color: transparent transparent transparent #000;
  border-color: transparent transparent transparent rgba(0,0,0,0.7);
}
